<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/index"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employment Type</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->

    <!-- start employment type card -->
    <div class="card">
        <div class="card-header">
            <h4>Add A New Employment Type</h4>
        </div>
        <div class="card-block">

                <form action="#" th:action="@{/saveEmploymentType}" th:object="${employmentType}" method="post" class="j-pro" id="j-pro" novalidate="">

                    <div class="j-content">
                        <!-- start name -->
                        <div>
                            <label class="j-label">Employment Type</label>
                            <div class="j-unit">
                                <div class="j-input">
                                    <label class="j-icon-right" for="name">
                                        <i class="icofont icofont-ui-user"></i>
                                    </label>
                                    <input type="text" th:field="*{name}" id="name" placeholder="Enter the employment type">
                                </div>
                            </div>
                        </div>
                        <!-- end name -->

                        <!-- start response from server -->
                        <div class="j-response"></div>
                        <!-- end response from server -->
                    </div>
                    <!-- end /.content -->
                    <div class="j-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-default m-r-20">Reset</button>
                    </div>
                    <!-- end /.footer -->
                </form>

        </div>
    </div>
    <!-- add employment type card end -->
</div>
</body>
</html>