<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/index"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <!-- Job application card start -->
    <div class="card">
        <div class="card-header">
            <h4>Add Employee</h4>
        </div>

        <div class="card-block">

            <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="post" class="j-pro" id="j-pro" enctype="multipart/form-data" novalidate="">
                <!-- end /.header-->
                <div class="j-content">
                    <!-- start name -->

                    <div class="j-row">
                        <div class="j-span6 j-unit">
                            <div class="j-input">
                                <label class="j-icon-right" for="first_name">
                                    <i class="icofont icofont-ui-user"></i>
                                </label>
                                <input type="text" th:field="*{firstName}" id="first_name" name="first_name" placeholder="First name">
                            </div>
                        </div>
                        <div class="j-span6 j-unit">
                            <div class="j-input">
                                <label class="j-icon-right" for="last_name">
                                    <i class="icofont icofont-ui-user"></i>
                                </label>
                                <input type="text" th:field="*{lastName}" id="last_name" name="last_name" placeholder="Last name">
                            </div>
                        </div>
                    </div>
                    <!-- end name -->
                    <!-- start email Start Date -->
                    <div class="j-row">
                        <div class="j-span6 j-unit">
                            <div class="j-input">
                                <label class="j-icon-right" for="email">
                                    <i class="icofont icofont-envelope"></i>
                                </label>
                                <input type="email" th:field="*{email}" placeholder="Email" id="email" name="email">
                            </div>
                        </div>
                        <div class="j-span6 j-unit">
                            <div class="j-input">
                                <div class="input-group date input-group-date-custom">
                                    <input type="text" th:field="*{employmentDate}" class="form-control" id="employmentDate" name="employmentDate" placeholder="Start Date">
                                    <span class="input-group-addon ">
                                    <i class="icofont icofont-ui-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end email phone -->
                    <div class="divider gap-bottom-25"></div>

                    <!--  start files
                     <div class="j-row">
                         <div class="j-span6 j-unit">
                             <div class="j-input j-append-small-btn">
                                 <div class="j-file-button">
                                     Browse
                                     <input type="file" name="image" onchange="document.getElementById('file1_input').value = this.value;">
                                 </div>
                                 <input type="text" th:field="*{image}" id="file1_input" readonly="" placeholder="Add Image">
                                 <span class="j-hint">Only: jpg / bmp / png , less 5Mb</span>
                             </div>
                         </div>
                     </div>
                      end files -->

                    <!-- start department -->
                    <div class="j-unit">
                        <label class="j-input j-select">
                            <select th:field="*{department}" class="js-example-basic-single col-sm-12" required id="department" name="department">
                                <th:block th:each="dept : ${departments}">
                                    <option th:value="${dept.id}" th:text="${dept.name}"/>
                                </th:block>
                            </select>
                            <i></i>
                        </label>
                    </div>
                    <!-- end department -->

                    <!-- start employment type -->
                    <div class="j-unit">
                        <label class="j-input j-select">
                            <select th:field="*{employmentType}" class="js-example-basic-single col-sm-12" required>
                                <th:block th:each="empType : ${employmentTypes}">
                                    <option th:value="${empType.id}" th:text="${empType.name}"/>
                                </th:block>
                            </select>
                            <i></i>
                        </label>
                    </div>
                    <!-- end employment Type -->
                    <!-- start position -->
                    <div class="j-unit">
                        <label class="j-input j-select">
                            <select th:field="*{employmentPosition}" class="js-example-basic-single col-sm-12" required>
                                <th:block th:each="empPosition: ${employmentPositions}">
                                    <option th:value="${empPosition.id}" th:text="${empPosition.name}" />
                                </th:block>
                            </select>
                            <i></i>
                        </label>
                    </div>
                    <!-- end position -->

                    <!-- start response from server -->
                    <div class="j-response"></div>
                    <!-- end response from server -->
                </div>
                <!-- end /.content -->
                <div class="j-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-default m-r-20">Reset</button>
                </div>
                <!-- end /.footer -->
            </form>
        </div>
        <!-- Job application card end -->
    </div>
</div>
</body>
</html>