<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/index">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <h2>Update Employee.</h2>

    <!-- Register your self card end -->
    <div class="card">
        <div class="card-header">
            <h5>Update Employee</h5>
            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>

        </div>
        <div class="card-block">
            <div class="j-wrapper j-wrapper-640">
                <form action="" method="post" class="j-pro" id="j-pro" novalidate="">
                    <div class="j-content">
                        <!-- start name -->
                        <div>
                            <label class="j-label">First Name</label>
                            <div class="j-unit">
                                <div class="j-input">
                                    <label class="j-icon-right" for="firstName">
                                        <i class="icofont icofont-ui-user"></i>
                                    </label>
                                    <input type="text" id="firstName" name="firstName">
                                </div>
                            </div>
                        </div>
                        <!-- end name -->

                        <!-- start Last Name -->
                        <div>
                            <div>
                                <label class="j-label ">Last Name</label>
                            </div>
                            <div class="j-unit">
                                <div class="j-input">
                                    <label class="j-icon-right" for="lastName">
                                        <i class="icofont icofont-ui-user"></i>
                                    </label>
                                    <input type="text" id="lastName" name="lastName">
                                </div>
                            </div>
                        </div>
                        <!-- end Last Name -->

                        <!-- start email -->
                        <div>
                            <div>
                                <label class="j-label">Email</label>
                            </div>
                            <div class="j-unit">
                                <div class="j-input">
                                    <label class="j-icon-right" for="email">
                                        <i class="icofont icofont-envelope"></i>
                                    </label>
                                    <input type="email" id="email" name="email">
                                </div>
                            </div>
                        </div>
                        <!-- end email -->

                        <!-- start password -->
                        <div>
                            <div>
                                <label class="j-label ">Password</label>
                            </div>
                            <div class="j-unit">
                                <div class="j-input">
                                    <label class="j-icon-right" for="password">
                                        <i class="icofont icofont-lock"></i>
                                    </label>
                                    <input type="password" id="password" name="password">
                                </div>
                            </div>
                        </div>
                        <!-- end password -->
                        <!-- start response from server -->
                        <div class="j-response"></div>
                        <!-- end response from server -->
                    </div>
                    <!-- end /.content -->
                    <div class="j-footer">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <!-- end /.footer -->
                </form>
            </div>
        </div>
    </div>
    <!-- Register your self card end -->
</div>
</body>
</html>