<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/index"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employment Position List</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <!-- Realtime updating table start -->
    <div class="card">
        <div class="card-header">
            <h5>All Employment Positions</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="feather icon-maximize full-card"></i></li>
                    <li><i class="feather icon-minus minimize-card"></i></li>
                    <li><i class="feather icon-trash-2 close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <span></span>
            <a class="btn btn-primary" th:href="@{/add-employment-position}">Add New Position</a>
            <span></span>
            <div class="dt-responsive table-responsive">
                <table id="realtime-reorder" class="table table-striped table-bordered nowrap">
                    <thead>
                    <tr>
                        <th>Position ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employmentPosition : ${employmentPositions}">
                        <td th:text="${employmentPosition.id}">ID</td>
                        <td th:text="${employmentPosition.name}">Name</td>
                        <td>
                            <a class="btn btn-outline-disabled disabled"><i class="icofont icofont-eye-alt"></i></a>
                            <a th:href="@{/update-employment-position/{id}(id=${employmentPosition.id})}" class="btn btn-outline-warning"><i class="icofont icofont-pencil-alt-1"></i></a>
                            <a th:href="@{/update-employment-position/{id}(id=${employmentPosition.id})}" class="btn btn-outline-danger"><i class="icofont icofont-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Position ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>