<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/index"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employment Position</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->

    <!-- start employee -->
    <div class="card">
        <div class="card-header">
            <h4>Update Employment Position</h4>
        </div>
        <div class="card-block">
            <form action="#" th:action="@{/saveEmploymentPosition}" th:object="${employmentPosition}" method="post" class="j-pro" id="j-pro" novalidate="">
                <input type="hidden" th:field="*{id}" th:value="${employmentPosition.id}">
                <div class="j-content">
                    <!-- start name -->
                    <div>
                        <label class="j-label">Name</label>
                        <div class="j-unit">
                            <div class="j-input">
                                <label class="j-icon-right" for="name">
                                    <i class="icofont icofont-ui-user"></i>
                                </label>
                                <input type="hidden" th:field="id">
                                <input type="text" th:field="*{name}" id="name" name="name">
                            </div>
                        </div>
                    </div>
                    <!-- end name -->

                    <!-- start response from server -->
                    <div class="j-response"></div>
                    <!-- end response from server -->
                </div>
                <!-- end /.content -->
                <div class="j-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <!-- end /.footer -->
            </form>
        </div>
    </div>
    <!-- add department card end -->
</div>
</body>
</html>